<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/Bootstrab.ejs') -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/Regester.css">
    <title>ثبت نام</title>
</head>
<style>
    .bt1{
       
    width: 66%;
    margin-left: 209px;
    margin-top: 10px;
    border: none;
    height: 34px;
    border-radius: 25px;
    color: white;
    background: blueviolet;
}
input.form-control {
    width: 45%;
    margin-right: 8cm;
    margin-top: 2%;
    margin-bottom: 2%;
}
</style>
<body>
    <header>
        <%- include('../includes/Headers.ejs') -%>
    </header>

    <main>
        <div class="container">
          
            <div class="box-chose" style="background-color: #ffff;">
                <h4 class="h1-samanh"><%= emailvalau  %> </h4>
                <div class="row">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>خوش آمدید</strong> شماره تلفن خود را وارد نمایید.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
               
                  <form action="/user/Login1" method="post" class="col-md-12">
                    <div class="form-group">
                       
                        <input type="text" class="form-control"  placeholder="شماره تلفن خود را وارد نماید" name="mobile" required>
                      <input type="password"  name="paswword" class="form-control" placeholder="پسور خود را وارد نمایید" required>
                      <button class="bt1">ارسال</button>
                  </form>
            </div>
        </div>
        </div>
    </main>
<script>
    $("#hid").hide()
</script>
</body>
</html>
    