<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../includes/Bootstrab.ejs') -%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>خانه</title>

        <link rel="stylesheet" href="/src/css/admin.css">
</head>

<body>

    <header>
        <!-- ========= Navbar ======= -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row col-12">
                <div class="col-6">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">یارجو</a>
                    </div>
                    <div class="col-3 mt-2 menu-show">
                        <i class="fa fa-bars"></i>
                    </div>

                </div>

                <div class="col-6">
                    <div class="row col-12">
                        <div class="col-10">
                            <i class="fa  fa-envelope mt-2" style="font-size: 20px;"></i>
                        </div>
                        <div class="col-2">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fa fa-heart-broken"></i></a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


        </nav>

        <!-- ========== MEnu + Mohtava -->
        <div class="mainer">
            <div class="menu">
                <div class="box activ">
                    <div class="box1 ">
                        <i class="fa fa-home sta activ-writer"></i>
                        <a href="/dashboard/admin" class="a-men">میز کار</a>
                    </div>
                </div>

                <div class="box ">
                    <div class="box1">
                        <i class="fa fa-book sta"></i>
                        <a href="/dashboard/admin/CategoryGet" class="a-men">دسته بندی</a>
                    </div>
                </div>
                <div class="box">
                    <div class="box1">
                        <i class="fa fa-map sta"></i>
                        <a href="#" class="a-men"> مناطق جغرافیایی</a>
                    </div>
                </div>
                
           


                <!-- 00000000000000000000000000000000000000000 -->
                <div class="box">

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <div class="btn btn-link colpases box1" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-users    sta"></i>
                                        <p class="a-men a-cople">کاربران</p>
                                        <div id="collapseOne" class="collapse hid" aria-labelledby="headingOne" data-parent="#accordion">
                                            <i class="fas fa-angle-left sta cople_slide"></i>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <i class="fas fa-angle-up sta cople_slide"></i>
                                        </div>
                                    </div>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="box1">
                                        <i class="fa fa-user-shield sta"></i>
                                        <a href="#" class="a-men">مدیران</a>
                                    </div>

                                    <div class="box1">
                                        <i class="fa fa-network-wired sta"></i>
                                        <a href="#" class="a-men">مشاغل</a>
                                    </div>

                                    <div class="box1">
                                        <i class="fa fa-user sta"></i>
                                        <a href="#" class="a-men">کارجو </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- 00000000000000000000000000000000000000 -->
                <div class="box box-open">
                    <div class="box1 ">
                        <i class="fa fa-arrow-left sta"></i>
                    </div>
                </div>
            </div>
            <div class="prouductstes">

            </div>
        </div>
    </header>
</body>
<script src="/src/js/admin.js">
</script>

</html>