<%- include('./admin.ejs') -%>
    <link rel="stylesheet" href="/src/css/Admin/Categori.css">
    <div class="catagoryform">
        <form action="/dashboard/admin/Categorypost" method="POST">
            <input class="form-control" type="text" name="name" placeholder="نام">
            <div class="form-group">

                <br>
                <label for="parentID">آیدی پرنت خود را انتخاب کنید</label>
                <select class="form-control" id="select1" name="parentID">
            <option value="0">پدر ندارد</option>
            <% for(let i=0;i<categories.length;i++){ %>
              <% if(categories[i].parentId == 0){ %>  
            <option value="<%= categories[i].id %>"><%= categories[i].name %> </option>
            <% } %> 
            <% } %> 
          </select>
                <br>
                <select class="form-control" id="select2" name="parentIDD">
            <option value="0">پدر ندارد</option>
          </select>
                <br>

                <select class="form-control" id="select3" name="parentIDDD">
           
          </select>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/src/js/category.js">
    
    </script>