<style>
  nav.site-header.sticky-top.py-1 {
    background-color: #00118b;
}
a.py-2.d-none.d-md-inline-block {
    color: white;
    text-decoration: none;
}
a.py-2.d-none.d-md-inline-block:hover {
    color: rgb(143, 253, 0);
    text-decoration: none;
}
.v1 {
    color:#10ff00;
    padding: 7px;
}
a.bt {
    color: aqua;
}
</style>
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="bt" href="/user/Regester">
      <i class="far fa-edit v1" aria-hidden="true"></i>
      ثبت نام
    </a>
    <a class="bt" href="/user/Login">
      <i class="fa fa-user v1" aria-hidden="true"></i>
      ورود 
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">خانه</a>
    <a class="py-2 d-none d-md-inline-block" href="#">محصولات</a>
    <a class="py-2 d-none d-md-inline-block" href="#">کارها</a>
    <a class="py-2 d-none d-md-inline-block" href="#">شرکت ها</a>
    <a class="py-2 d-none d-md-inline-block" href="#">تماس با ما</a>
    <a class="py-2 d-none d-md-inline-block" href="#">درباره ما</a>
    
  </div>
</nav>