<%- include("./karfarma.ejs")  -%>
    <link rel="stylesheet" href="/config/jquery.md.bootstrap.datetimepicker.style.css">
    <link rel="stylesheet" href="/src/css/karfamapanel/Business.css">


 
    <main>

        <div class="container form">

            <form action="" id="formId" method="post" enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">لطفا شهر خود را انتخاب نمایید</label>
                        <span class="color-required">*</span>
                        <input type="text"  name="Title" class="form-control" id="inputEmail4" placeholder="مثال:بسته بندی مزمز" >
                    </div>
<!-- Domain -->
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">انتخاب دامنه در سایت یارجو</label>
                        <span class="color-required">*</span>
                        <input type="text"  class="form-control" id="Domain" placeholder="استان شهر"  />

                    </div>
                </div>

    
            </form>
        </div>
      
    </main>
    
<script>

</script>
