<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../includes/Bootstrab.ejs') -%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>خانه</title>

        <link rel="stylesheet" href="/src/css/karfarma.css">
</head>

<body>
   

</body>
<script>
    $("#r2").hide();
    $("#r1").on("click", function ali() {
        $(".menu").css("width", "6%");
        $("#box1").css("width", "83%");
        $(".a-dash").hide();
        $("#box1").css("margin-right", "6px");
        $(".box2").css("margin-right", "9px");
        $(".box2").css("font-size", "25px");
        $("#r1").hide();
        $("#r2").show();
    });
    $("#r2").on("click", function() {
        $(".menu").css("width", "18%");
        $("#box1").css("width", "100%");
        $(".a-dash").show();
        $("#box1").css("margin-right", "0px");
        $(".box2").css("margin-right", "25px");
        $(".box2").css("font-size", "17px");
        $("#r2").hide();
        $("#r1").show();
    });
</script>

</html>