<!DOCTYPE html>

<head>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>یارجو جست و جوی پیشرفته</title>
    <link rel="stylesheet" href="/config/Home/css/font-awesome/all.min.css">
    <link rel="stylesheet" href="/config/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/config/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/config/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/config/Home/css/rtl.css">
    <link rel="stylesheet" href="/config/Home/css/style.css" type="text/css">
</head>

<body>
    <header class="header-tag">

      <!-- <div class="top-header">
        <div class="container">
          <div class="row col-12 top-row" >
            <div class="col-12 col-sm-6 align-right" ><a href="#" class="btn btn-primary">دریافت مشاوره : 09378000000</a></div>
            <div class="col-12 col-sm-6 align-left" ><a href="#" class="btn btn-primary">فرم کاریابی در آلمان</a><a href="#" class="btn btn-primary a-top-header">سیستم رزرم وقت </a></div>
          </div>
        </div>
      </div> -->
      
      <div class="row col-12">

          <nav class="navbar navbar-expand-lg navbar-light nav-tag col-12 header" id="header-top">
            <div class="container align-left-container ">


            <a class="navbar-brand" href="#"><img class="logo" id="logo" src="/config/Home/images/yarju logo white.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ul-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">لیست شهرها</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    لیست اصناف
                  </a>
                    <div class="dropdown-menu col-12 " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">درباره ما</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">تماس با ما</a>
                </li>
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0 form-nav"> -->
                <a href="#" class="btn btn-primary login-btn-header">ورود</a>
                <a href="#" class="btn btn-primary login-btn-header">ثبت نام</a>

              <!-- </form> -->
            </div>

          </div>
          </nav>
          

          
          <div class="row col-12 site-tile-header advanced-search-header"><span> یارجو ، &nbsp;</span><span> جویای کار تو</span></div><br>

         
      </div>
 

    </header>

    <main>
     
      <!-- container box advanced search -->
      <div class="container container-advanced-search">
        <div class="row title-advanced">
          جستجوی پیشرفته
        </div>
        <form class="col-12" action="">
        <div class="row main-input">
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 red-border" type="text" placeholder="جستجو در اصناف..." aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text red lighten-3" id="basic-text1"><img src="/config/Home/images/Search.svg" alt=""></span>
            </div>
          </div>
        </div>
        <div class="row row-inputs">
          <div class="col-7 col-sm-5 col-md-5 col-lg-2 main-select-province">
            <select class="select-province" >
              <option value="" >انتخاب استان</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col-7 col-sm-5 col-md-5 col-lg-2 main-select-province">
            <select class="select-province" >
              <option value="" >انتخاب شهر</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col-7 col-sm-5 col-md-5 col-lg-2 main-select-province">
            <select class="select-province" >
              <option value="" >انتخاب دسته بندی</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col-7 col-sm-5 col-md-5 col-lg-2 main-select-province">
            <select class="select-province" >
              <option value="" >انتخاب دسته بندی</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row search-button">
          <button class="btn btn-primary" type="submit"><span>شروع جستجو</span><img src="/config/Home/images/Search white.svg" alt=""></button>
        </div>
        </form>
      </div>
      <!-- container cards and side bar -->
      <div class="container">
        <div class="row" style="padding-top: 50px;">
          <div class="col-12 col-lg-3 row-left-list">
            <div class="row title-right-sidebar">دسته بندی ها</div>
            <div class="card col-12 main-card-left-box">
              <div class="card-header">
                  <button onclick="showtog('drop-icon')" class="btn btn-primary title-ul-product-button" type="button" id="mode-button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   <span> صنایع و محولات غذایی و آشامیدنی</span><span class="fa fa-plus" id="drop-icon"></span>
                  </button>
              </div>
                <blockquote class="blockquote mb-0">
                  <div class="collapse" id="collapseExample">
                      <ul class="drop-ul-product">
                        <li>
                            <ul>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                            </ul>
                        </li>
                      </ul>
                  </div>
                </blockquote>
            </div>
            <div class="card col-12 main-card-left-box">
              <div class="card-header">
                  <button onclick="showtog('drop-icon5')" class="btn btn-primary title-ul-product-button" type="button" id="mode-button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                   <span> صنایع و محولات غذایی و آشامیدنی</span><span class="fa fa-plus" id="drop-icon5"></span>
                  </button>
              </div>
                <blockquote class="blockquote mb-0">
                  <div class="collapse" id="collapseExample5">
                      <ul class="drop-ul-product">
                        <li>
                            <ul>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                              <li><a href="#"><span> > </span><span>شکلات ، آبنبات ، بستنی </span></a></li>
                            </ul>
                        </li>
                      </ul>
                  </div>
                </blockquote>
            </div>
          </div>
          <div class="row col-12 col-lg-9">
             <div class="col-12 col-lg-6 main-card-advanced">
               <div class="row card-advanced-search">
                <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
                <div class="col-7 middle-box-advanced">
                  <div>یارگان</div>
                  <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                  <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
                </div>
                <div class="col-3 left-box-advanced">
                  <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/phone-call.svg" alt=""><span>02188957150</span></div>
                  <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
                </div>
               </div>
             </div>
             <div class="col-12 col-lg-6 main-card-advanced">
              <div class="row card-advanced-search">
               <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
               <div class="col-7 middle-box-advanced">
                 <div>یارگان</div>
                 <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
               </div>
               <div class="col-3 left-box-advanced">
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/phone-call.svg" alt=""><span>02188957150</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
               </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 main-card-advanced">
              <div class="row card-advanced-search">
               <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
               <div class="col-7 middle-box-advanced">
                 <div>یارگان</div>
                 <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
               </div>
               <div class="col-3 left-box-advanced">
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/phone-call.svg" alt=""><span>02188957150</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
               </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 main-card-advanced">
              <div class="row card-advanced-search">
               <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
               <div class="col-7 middle-box-advanced">
                 <div>یارگان</div>
                 <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
               </div>
               <div class="col-3 left-box-advanced">
                 <div><img style="width: 13px;  padding-left: 5px;" src="./images/phone-call.svg" alt=""><span>02188957150</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="./images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
               </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 main-card-advanced">
              <div class="row card-advanced-search">
               <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
               <div class="col-7 middle-box-advanced">
                 <div>یارگان</div>
                 <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
               </div>
               <div class="col-3 left-box-advanced">
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/phone-call.svg" alt=""><span>02188957150</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
               </div>
              </div>
            </div>
             <div class="col-12 col-lg-6 main-card-advanced">
              <div class="row card-advanced-search">
               <div class="col-2 box-image-card"><img  src="/config/Home/images/card4.jpg" alt=""></div>
               <div class="col-7 middle-box-advanced">
                 <div>یارگان</div>
                 <div><img style="width: 13px; padding-left: 5px;" src="/config/Home/images/001-company.svg" alt=""><span>نام تجاری : یارگان</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/002-ceo.svg" alt=""><span>نام مدیر عامل : آقای داوود مسعودی</span></div>
               </div>
               <div class="col-3 left-box-advanced">
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/phone-call.svg" alt=""><span>02188957150</span></div>
                 <div><img style="width: 13px;  padding-left: 5px;" src="/config/Home/images/15-globe.svg" alt=""><span>تهران-تهران</span></div>
               </div>
              </div>
            </div>
          </div>
        </div>     
      </div>

    </main>


    <footer class="footer-tag">
        <div class="container">
          <div class="row col-12 row-footer">
            <div class="col-sm-12 col-md-4 box-in-footer">
              <div><img src="/config/Home/images/yarju logo white.svg" alt=""></div>
              <div><p>
                شرکت داده کاوی و نرم افزاری یارگان همواره در طی دوران فعالیت خود، جلب اعتماد مشتری را بزرگترین هدف و کسب رضایت مشتری را به عنوان بزرگترین دستاورد خود محسوب کرده است
              </p></div>
            </div>
            <div class="col-sm-12 col-md-4 box2-footer">
                <div class="text-connection-ways">راه های ارتباطی</div>
                <div class="underline"></div>
                <div>0911 786 8034</div>
                <div>021 2343 7878</div>
                <div class="row social-icons-row">
                  <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                  <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-telegram"></i></a>
                  <a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                  <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 box3-footer">
                <img src="/config/Home/images/logo_footer1 (1).png" alt="">
                <img src="/config/Home/images/logo_footer1 (2).png" alt="">
            </div>
          </div>
        </div>
    </footer>







<script src="/config/Home/js/jquery-slim.js"></script>
<script src="/config/Home/js/jquery-3.5.1.slim.min.js"></script>
<script src="/config/Home/js/bootstrap.min.js"></script>

<script src="/config/Home/js/main-modal.js"></script>

<script src="/config/Home/js/popper.min.js"></script>
<script src="/config/Home/js/owl.autoplay.js"></script>
<script src="/config/Home/js/owl.carousel.min.js"></script>



<script>

window.onscroll = function () {
        scrollFunction()
    };
  function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            $('.header').addClass('custom');
            document.getElementById("header-top").style.top = "-100px";
            document.getElementById('logo').src="/config/Home/images/yarjoo_logo_new.jpg";

        } else {
            document.getElementById("header-top").style.top = "0";
            document.getElementById("header-top").style.backgroundColor = "unset";
            $('.header').removeClass('custom');
            document.getElementById('logo').src="/config/Home/images/yarju logo white.svg";


        }
    }



/////////////////////////////////////////////////////// carosel slider

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:false,
    nav:true,
    autoplay:true,   
    smartSpeed: 3000, 
    autoplayTimeout:7000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})


/////////////////////////////////////////////////////// carosel slider


function showtog(a){
  var b = document.getElementById(a);
  if(b.className == "fa fa-plus"){
    b.className = "fa fa-minus";
    b.parentNode.style.backgroundColor="#ffffff";
    b.parentNode.style.color="black";

  }
  else{
    b.className = "fa fa-plus";
    b.parentNode.style.backgroundColor="#f3f3f3";
    b.parentNode.style.color="black";
  }
}


</script>

</body>


</head>